@import '../../../../../Colors';
@import '../../../../../Common';

.image {
    width: 180px;
    height: 180px;
    background-color: $blueDarkDeep;
    border-radius: 50%;
}

.header {
    padding: 25px 0 5px 0;
    text-align: center;
    @extend %middleHeader;
}

.date {
    @extend %date;
    text-align: center;
}