@import '../../../../../Colors';

.left {
  grid-area: left;
}

.center {
  grid-area: center;
}

.right {
  grid-area: right;
}

.bottom {
  grid-area: bottom;
}

.image {
  width: 100%;
  height: 100%;
}
