@import '../../../../../Colors';

.img-left {
  grid-area: left;
  width: 100%;
}

.img-center {
  grid-area: center;
  width: 100%;
}

.img-right {
  grid-area: right;
  width: 100%;
}

.img-bottom {
  grid-area: bottom;
  width: 100%;
}

