@import '../../../../../Colors';

.img-left {
  grid-area: left;
}

.img-center {
  grid-area: center;
}

.img-right {
  grid-area: right;
}

.img-bottom {
  grid-area: bottom;
}

.image {
  width: 100%;
  height: 100%;
}
