@import "../../../../../Colors";
@import "../../../../../Common";

.wrapper {
  margin: 80px 0;
}

.content {
  margin-top: -5px;
  padding: 40px;
  background-color: $blueDark;
  border-radius: 0 0 10px 10px;
}

.cover {
  width: 100%;
  border-radius: 10px 10px 0 0;
}

.title {
  margin-bottom: 30px;
  @extend %bigHeader;
}

.label {
  padding: 40px 0;
  display: flex;
  justify-content: space-between;
}

.tag {
  color: $cyan;
}

.date {
  text-align: right;
}

.text {
  line-height: 180%;
}

.images {
  display: flex;
  max-width: 100%;
  padding: 40px 10px;
  justify-content: space-between;
}

.image {
  display: block;
  width: 30%;
  height: auto;
}