@import '../../../../Colors';
@import '../../../../Common';

.wrapper {
    @include wrapper($blueDarkDeep);
}

.headers {
    @extend %shadowHeader;
}

.subtitle {
    @extend %shadowSubtitle;
}

.title {
    @extend %shadowTitle;
}


.block {
    @include block(80vw, 0, space-around);
}

.icon {
    color: $cyan;
    &:hover {
        color: $lilac;
    }
}

.toggle {
    height: 30px;
    width: 20px;
    @extend %toggle;
}