@import "../../../Colors";

.wrapper {
  width: 100vw;
  background-color: $blueDarkDeep;
  background-image: url('../../../assets/AboutPage/about-bg.jpg');
}

.list {
  height: 380px;
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  background-color: transparentize($blueDarkDeep, 0.1);
}
