@import "../../../Colors";

.wrapper {
  width: 100vw;
  padding: 100px 0;
  background-color: $blueDarkDeep;
}

.block {
  width: 70vw;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.tagsList {
  width: 40vw;
  margin: 0 auto;
  padding-bottom: 50px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  list-style-type: none;
}

.imagesList {
  width: 65vw;
  margin: 0 auto;
  padding-bottom: 50px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style-type: none;
}

.button {
  display: block;
  margin: 0 auto;
  width: 220px;
  height: 60px;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  color: $white;
  background-color: transparent;
  border: 2px solid $lilac;
  border-radius: 10px;
}

.button:hover {
  border: 2px solid $cyan;
  background-color: $cyan;
  cursor: pointer;
}