@import '../../../../../Colors';

.wrapper {
    max-width: 350px;
    background-color: $blueDark;
    border-radius: 12px;
}

.blockPost {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 20px 1fr 2fr 20px;
    grid-template-areas:
            "tag date"
            "header header"
            "content content"
            "author .";
    padding: 30px;
}

.image {
    max-width: 350px;
    border-radius: 12px 12px 0px 0px;
}

.tag {
    grid-area: tag;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    color: $cyan;
}

.date {
    grid-area: date;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    color: $blueLight;
}

.header {
    grid-area: header;
    font-family: 'Agency FB', sans-serif;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: left;
    color: $white;
}

.description {
    grid-area: content;
    padding-top: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: $blueLight;
}

.author {
    grid-area: author;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 300;
    color: $blueLight;
}