@import "../../../../Colors";

.header {
  padding-bottom: 20px;
  font-family: "Agency FB", sans-serif;
  font-size: 20px;
  font-weight: 700;
  color: $white;
  text-transform: uppercase;
  text-align: center;
}