@import "../../../Colors";
@import "../../../Common";

.wrapper {
  @include wrapper($blueDarkDeep);
  padding: 100px 0 0 0;
}

.block {
  @include block(65vw, 0, space-between, flex-start);
}

.sidebar {
  flex-basis: 350px;
  min-width: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content {
  flex-basis: 65%;
  min-width: 400px;
  padding-bottom: 50px;
}