@import '../../../../../Colors';
@import '../../../../../Common';

.block {
    grid-area: content;
    padding: 40px;
}

.header {
    padding-bottom: 30px;
    @extend %middleHeader;
}

.description {
    padding-bottom: 30px;
    @extend %standartFont;
}
