@import "../../../../Colors";

.item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.image {
  height: 55px;
  padding-bottom: 20px;
  object-fit: contain;
}

.counter {
  font-family: 'Agency FB', sans-serif;
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
  color: $white;
}

.label {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  color: $white;
}