@import '../../Colors.scss';

.wrapper {
    width: 100vw;
    max-width:100%;
    background-color: $blueDark;
}

.togglesWrapper {
    display: flex;
    justify-content: space-between;
    width: 60vw;
    margin: 0 auto;
}