@import "../../../../../Colors";
@import "../../../../../Common";

.wrapper {
  @extend %quoteBlock;
}

.image {
  position: absolute;
  top: -60px;
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

.header {
  padding-top: 80px;
  @extend %middleHeader;
}

.status {
  padding-top: 10px;
  text-align: center;
  @extend %tag;
}

.description {
  padding: 20px 30px;
  text-align: center;
  @extend %standartFont;
}