@import '../../../../../Colors';
@import '../../../../../Common';

.label {
    grid-area: label;
    padding: 0 40px;
}

.caption {
    @extend %middleHeader;
    padding-bottom: 15px;
}

.count {
    @extend %standartFont;
}