@import '../../../Colors.scss';

.videosWrapper {
    display: flex;
    width: 60vw;
    margin: 0 auto;
}

.button {
    width: 220px;
    height: 60px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    color: $white;
    background-color: $blueDark;
    border: 2px solid $lilac;
    border-radius: 10px;
}

.button:hover {
    border: 2px solid $cyan;
    background-color: $cyan;
}