@import '../../../Colors';

.headerStart {
    position: fixed;
    z-index: 3;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    width: 100vw;
    max-width: 100%;
    height: 140px;
    background-color: transparentize($blueDarkDeep,.1);
    box-shadow: 3.5px 6.1px 30px $shadow;
}

.header {
    position: fixed;
    z-index: 4;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    width: 100vw;
    max-width: 100%;
    height: 120px;
    background-color: $blueDarkDeep;
    box-shadow: 3.5px 6.1px 30px $shadow;
}

.logo {
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.logoImage {
    width: 124px;
    height: auto;
    margin-right: 20px;
}

.logoName {
    font-family: 'Agency FB', sans-serif;
    font-size: 36px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: $white;
}

.logoText {
    font-size: 11px;
    font-weight: bold;
    text-transform: uppercase;
    color: $blueLight;
}

.navList {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
}

.navItem {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    color: $white;
}

.navItem:hover {
    color: $cyan;
}

.utility {
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.searchImage {
    margin-right: 20px;
}

.button {
    width: 220px;
    height: 60px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    color: $white;
    background-color: transparent;
    border: 2px solid $lilac;
    border-radius: 10px;
}

.button:hover {
    border: 2px solid $cyan;
    background-color: $cyan;
    cursor: pointer;
}
