@import '../../../../Colors';

.slider {
    width: 100vw;
    height: 100vh;
    max-width:100%;
    background-color: $black;
    background-image: url("slide-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: $white;
}
