@import "../../../Colors";
@import "../../../Common";

.form {
  position: relative;
}

.input {
  @extend %input;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.button {
  position: absolute;
  top: 0;
  right: 0;
}