@import "../../../../Colors";

.linksItem {
    padding: 5px;
}

.link {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    color: $white;
}