@import '../../../Colors.scss';

.tag1 {
    grid-area: tag1;
}

.tag2 {
    grid-area: tag2;
}

.tag3 {
    grid-area: tag3;
}

.tag1,
.tag2,
.tag3 {
    text-align: center;
    border: 2px solid $blueDark;
}

.link {
    display: block;
    height: 100%;
    padding-top: 22px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
    color: $white;
}