@import '../../../../Colors';

.navItem {
    padding: 0px 0px 40px 30px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    color: $white;
}

.navItem:hover {
    color: $cyan;
}

