@import '../../../../../Colors';

.wrapper {
    width: 100vw;
    max-width:100%;
    margin: 40px 0 0 0;
    background-color: $blueDarkDeep;
}

.block {
    display: grid;
    width: 70vw;
    height: 600px;
    grid-template-columns: 1fr 10fr 1fr 10fr 1fr;
    grid-template-rows: 65px 1fr 65px;
    grid-template-areas:
            ". . . . ."
            ". content . image image"
            ". . . . .";
    margin: 0 auto;
    background-color: $blueDark;
    border-radius: 12px;
}

.contentBlock {
    grid-area: content;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 40px 40px 1fr 80px;
    grid-template-areas:
            "tags date"
            "title title"
            "description description"
            "button .";
}

.imageBlock {
    grid-area: image;
}

.tags {
    grid-area: tags;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    color: $cyan;
}

.date {
    grid-area: date;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    color: $blueLight;
    text-align: right;
}

.title {
    grid-area: title;
    padding-top: 10px;
    font-family: 'Agency FB', sans-serif;
    font-size: 32px;
    font-weight: 700;
    text-transform: uppercase;
    color: $white;
}

.description {
    grid-area: description;
    padding-top: 30px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: $blueLight;
}

.button {
    grid-area: button;
    width: 220px;
    height: 60px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    color: $white;
    background-color: $blueDark;
    border: 2px solid $lilac;
    border-radius: 10px;
}

.button:hover {
    border: 2px solid $cyan;
    background-color: $cyan;
}

.image {
    border-radius: 12px;
}