@import '../../../Colors.scss';

.wrapper {
    display: flex;
    flex-direction: column;
    width: 60vw;
    margin: 0 auto;
}

.header {
    text-align: center;
    font-family: 'Agency FB', sans-serif;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    color: $white;
}
