@import '../../Colors.scss';

.wrapper {
    width: 100vw;
    max-width:100%;
    background-color: $black;
    text-align: center;
}

.headers {
    position: relative;
    width: 80vw;
    min-height: 100px;
    margin: 0px auto;
    padding: 80px 0 20px 0;
}

.subtitle {
    position: absolute;
    z-index: 1;
    top: 50px;
    width: 100%;
    text-align: center;
    font-family: "Agency FB", sans-serif;
    font-size: 88px;
    font-weight: 700;
    text-transform: uppercase;
    color: $textShadow;
}

.title {
    position: absolute;
    z-index: 2;
    width: 100%;
    text-align: center;
    font-family: "Agency FB", sans-serif;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    color: $white;
}


.tagsBlock {
    display: flex;
    justify-content: space-around;
    width: 60vw;
    margin: 0 auto 30px;
}

.imagesBlock {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "left center right"
        "bottom bottom right";
    grid-column-gap: 15px;
    grid-row-gap: 15px;
    width: 70vw;
    margin: 0 auto 40px;
}

.button {
    width: 220px;
    height: 60px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    color: $white;
    background-color: $blueDarkDeep;
    border: 2px solid $lilac;
    border-radius: 10px;
}

.button:hover {
    border: 2px solid $cyan;
    background-color: $cyan;
}