@import '../../../../../Colors';

.wrapper {
    width: 50%;
    display: flex;
}

.round {
    min-width: 100px;
    height: 100px;
    text-align: center;
    background: linear-gradient(90deg, $cyan, $lilac);
    border-radius: 50%;
}

.number {
    display: inline-block;
    margin-top: 25px;
    text-align: center;
    font-family: "Agency FB", sans-serif;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    color: $white;
}

.title {
    padding-bottom: 20px;
    font-family: "Agency FB", sans-serif;
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    color: $white;
}

.description {
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 30;
    color: $blueLight;
}

.content {
    padding: 0 30px 40px 30px;
    top: 0;
    left: 100px;
}