@import "../../../../Colors";

.wrapper {
  background-color: $blueDarkDeep;
}

.aboutBlock {
  display: flex;
  justify-content: space-around;
  align-items: stretch;
  width: 60vw;
  margin: 0 auto;
  padding: 100px 0;
}

.headers {
  position: relative;
  width: 100%;
  min-height: 80px;
  margin: 0px auto;
}

.number {
  position: absolute;
  z-index: 2;
  top: 0px;
  left: 0px;
  font-family: "Agency FB", sans-serif;
  font-size: 80px;
  font-weight: 700;
  text-transform: uppercase;
  color: $white;
}

.subtitle {
  position: absolute;
  z-index: 1;
  top: 5px;
  left: 65px;
  text-align: center;
  font-family: "Agency FB", sans-serif;
  font-size: 56px;
  font-weight: 300;
  text-transform: uppercase;
  color: $gray;
}

.title {
  position: absolute;
  z-index: 2;
  top: 50px;
  left: 65px;
  text-align: center;
  font-family: "Agency FB", sans-serif;
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
  color: $white;
}

.textBlock {
  padding: 100px 20px 0 0;
}

.text {
  line-height: 1.5;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: $blueLight;
}