@import "../../../Colors";
@import "../../../Common";

.form {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

.input {
  width: 200px;
  margin: 25px 20px 0 0;
  padding-left: 20px;
  @extend %input;
}

.textarea {
  width: 420px;
  @extend %textarea;
}

.btnBlock {
  margin-top: 25px;
}
