@import '../../Colors.scss';

.wrapper {
    width: 100vw;
    max-width:100%;
    background-color: $blueDarkDeep;
}

.navList {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
}
