@import '../../Colors.scss';

.wrapper {
    width: 100vw;
    max-width:100%;
    background-color: $blueDarkDeep;
}

.videoWrapper {
    display: flex;
    width: 60vw;
    margin: 0 auto;
}
