@import '../../../../Colors';

.item {
   position: relative;
    z-index: 2;
}

.link {
    padding: 60px 30px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    color: $white;
}

.link:hover {
    color: $cyan;
}

.linkActive {
    color: $lilac;
}
