@import "../../../Colors";

.formControl {
  position: relative;
}

.formControl.error textarea {
  border: 1px solid crimson;
}

.formControl.error input {
  border: 1px solid crimson;
}

.formControl.error span {
  position: absolute;
  bottom: -20px;
  left: 0;
  color: crimson;
}
