@import "../../../../Colors";
@import "../../../../Common";

.wrapper {
  width: 100%;
  padding-bottom: 40px;
}

.header {
  padding-bottom: 20px;
  text-align: center;
  @extend %middleHeader;
}

.list {
  list-style-type: none;
}

.item {
  display: flex;
  justify-content: space-between;
  padding-bottom: 15px;
}

.icon {
  flex-basis: 10%;
  color: $cyan;
}

.name {
  flex-basis: 70%;
}

.counter {
  flex-basis: 20%;
  text-align: right;
}