@import "../../../Colors";

.wrapper {
  width: 100vw;
  background-color: $blueDarkDeep;
}

.block {
  width: 65vw;
  margin: 0 auto;
  display: flex;
}

.socialList {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.far {}

.faAddressCard {}
