@import "../../../../Colors";
@import "../../../../Common";

.item {
  padding: 10px 0;
  display: flex;
  align-items: center;
}

.icon {
  padding-right: 15px;
}

.title {
  @extend %standartFont;
}

.contact {
  @extend %smallHeader;
}

.cyan {
  color: $cyan;
}

.blue {
  color: $blue;
}

.lilac {
  color: $lilac;
}

.gray {
  color: $gray;
}

