$cyan: hsla(183, 67%, 54%, 1);
$blueLight: hsla(220, 79%, 87%, 1);
$black: hsla(243, 27%, 15%, 1);
$blueDark: hsla(242, 27%, 21%, 1);
$blue: 	hsla(210, 65%, 61%, 1);
$lilac: hsla(249, 69%, 65%, 1);
$cyanBright: hsla(190, 100%, 42%, 1);
$cyanLight: hsla(183, 69%, 65%, 1);

