$lilac: hsla(245, 100%, 69%, 1);
$lightLilac: hsla(233, 100%, 94%, 1);
$violet: hsla(240, 33%, 21%, 1);
$lightViolet: hsla(240, 16%, 36%, 1);
$blue: hsla(235, 100%, 69%, 1);
$darkBlue: hsla(242, 33%, 16%, 1);
$pink: hsla(337, 100%, 60%, 1);
$white: hsla(0, 0%, 100%, 1);
$black: hsla(0, 0%, 18%, 1);
