$cyan: hsla(183, 67%, 54%, 1);
$blueLight: hsla(220, 79%, 87%, 1);
$blueDarkDeep: hsla(243, 27%, 15%, 1);
$blueDark: hsla(242, 27%, 21%, 1);
$blue: hsla(210, 65%, 61%, 1);
$black: hsla(244, 27%, 12%, 1);
$lilac: hsla(249, 69%, 65%, 1);
$cyanBright: hsla(190, 100%, 42%, 1);
$cyanLight: hsla(183, 69%, 65%, 1);
$shadow: hsla(0, 0%, 0%, 0.57);
$textShadow: hsla(243, 24%, 17%, 1);
$gray: 	hsla(226, 15%, 41%, 1);
$grayLight: hsla(219, 18%, 69%, 1);
$white: hsla(0, 0%, 100%, 1);
