@import '../../../Colors';

.wrapper {
    width: 100vw;
    max-width: 100%;
    height: 500px;
    background-color: $blueDarkDeep;
    background-image: url("footer-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.filter {
    min-height: 500px;
    background-color: transparentize($blueDarkDeep, 0.4);
}

.footerBlock {
    width: 70vw;
    min-height: 400px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logoBlock {
    width: 35vw;
}

.navBlock {
}

.navList {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style-type: none;
}

.description {
    padding-bottom: 30px;
    text-align: right;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: $blueLight;
}

.socialList {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.copyrightBlock {
    width: 70vw;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: right;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: $blueLight;
    border-top: 1px solid $blueLight;
}

.copyright {
    display: block;
    padding: 30px 40px;
}
